@media (min-width: 200px) and (max-width: 2400px){
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

.geologica-Geologica> {
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "CRSV" 0,
      "SHRP" 0;
  }

body{ 
    font-family: 'Geologica', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1{
    color: rgb(0, 0, 0);
    font-family: 'Geologica', sans-serif;
    font-weight: bold;
}

h2{
    color: black;
    font-family: 'Geologica', sans-serif;
    font-weight: bold;
}

*{
    margin: 0;
    padding: 0;
}

.wrapper{

    width: 90%;
    height: 00 auto;
}

.resize-img {
    height: 90px;
    width: auto;
    object-fit: cover;
}

header{
    width: 100%;
    height: 60px;
    background: rgb(255, 255, 255);
    position: fixed;
}

.logo{
    float: left;
    text-align: left;
    line-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    color: white;
    top: -45px;
    left: 50px;
    position: fixed;
    height: 195px;
    width: 50px;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: 'Geologica', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
}

nav{
    float: right;
    line-height: 60px;
}

nav a{
    text-decoration: none;
    font-family: 'Geologica', sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 36px 10px;
    margin: 0 1px;
    font-weight: 600;
}

nav a:hover{
    background: rgba(255, 255, 255, 0.19);
    color: rgb(21,236,163);
}

.banner-area{
    background-image:url(images/bg4.jpg);
    background-size: cover;
    background-position:  center bottom;
    top: 60px;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.banner-area:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to top, rgba(255,255,255,0) 98%,rgba(255, 255, 255, 0.641) 99%, rgb(255, 255, 255) 100%);
}

.banner-area h2{
    padding-top: 8%;
    font-size: 80px;
    color: rgb(21,236,163);
    -webkit-text-fill-color: rgb(21,236,163);
    -webkit-text-stroke: 1px black;
}

.content-area {
    width: 100%;
    height: 1700px;
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.414) 1%, rgba(255, 255, 255, 0.578) 2%, rgba(255, 255, 255, 0.803) 3%, rgb(255, 255, 255) 4%);
    top: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0%;
    padding-right: 0%;
}

.content-area h2{
    font-size: 40px;
    margin: 0;
    letter-spacing: 4px;
}

.content-area p{
    padding: 15px 10%;
    line-height: 20px;
    text-align: center;
}

.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    margin-top: 0px;
    height: 40%;
    width: 100%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.text_columns{
    position: relative;
    top: 30px;
    columns: 3;
    column-gap: 10px;   
}

.resize-rest {
    height: 350px;
    width: auto;
    object-fit: cover;
}

.resize-bank {
    height: 350px;
    width: auto;
    object-fit: cover;
}

.resize-food {
    height: 350px;
    width: auto;
    object-fit: cover;
}

.find_etic{
    text-align: left;
    padding-top: 230px;
    font-family: 'Geologica', sans-serif;
    font-weight: bold;
}


/* ---------------------------------------------------- */

*{
    box-sizing: border-box;
  }

  .search-box{
    float: center;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: rgb(21,236,163);
    padding-right: 40px;
    color:#fff;
    border: 1px solid black;
    background-position: 0px 0px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 100px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

}

.error{
    position: relative;
    padding-top: 50px;
    height: 450px;
    width: auto;
    object-fit: cover;
}

.error_500{
    height: 650px;
    font-size: 50px;
}


/*--------------------------------------------------------------*/